<div default-dialog>
  <div class="row head">
    <div class="col-xs-12">
      <p ng-if="contacts.length === 0">
        {{_('You have no contacts.')}}
      </p>
      <p>{{_('To add new contacts, join a room and create a contact add request by clicking on the star icon next to a
        user entry.')}}</p>
    </div>
  </div>
  <div class="row" ng-if="contacts.length > 0">
    <div class="col-xs-12">
      <div class="editlist nicescroll row">
        <table class="table table-hover table-condensed">
          <tbody>
            <tr ng-repeat="contact in contacts">
              <td class="name">
                <span>{{contact.Userid|displayName}}</span>
              </td>
              <td class="action">
                <div class="btn-group buddyactions">
                  <button class="btn btn-primary" ng-click="doCall(contact)" title="{{_('Start video call')}}"><i class="fa fa-phone"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>