

.mainview {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: $minbarheight;

  @include breakpt($breakpoint-medium) {
    left: 0;
    left: 0;
  }
}

.videolayoutSmally .mainview {
  left: 150px;
}

.videolayoutClassroom .mainview {
  left: 360px;
}

.withChat,
.withBuddylist {
  .mainview {
    right: 260px;
  }
}

.withBuddylist {
  &.withChat .mainview {
    right: 520px;
  }
}
