

#roombar { // scss-lint:disable IdSelector
  left: 0;
  min-width: 260px;
  position: absolute;
  right: 0;
  top: $minbarheight;
  z-index: 4;

  .roombar {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
